*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/
examples/Phi4/data/
examples/linear_OrnteinUhlenbeck/Ceq_all.pdf
examples/linear_OrnteinUhlenbeck/Ceq_all.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Dis_Gauss_N-100_K-4_lam-2.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Dis.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-3_lam-4.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-3_lam-5.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-4_lam-1.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-4_lam-2.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-4_lam-2.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-4_lam-3.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-4_lam-4.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-4_lam-5.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-100_K-50_lam-1.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-200_K-4_lam-3.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-200_K-4_lam-5.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-200_K-4_lam-10.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-500_K-4_lam-4.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro_N-1000_K-4_lam-1.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_ER_Ferro.png
examples/linear_OrnteinUhlenbeck/Ceq_ER.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Dis_Bim_N-200_K-2.89_lam-2.5_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Dis_Bim_N-200_K-2.89_lam-4.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Dis_Bim_N-200_K-2.89_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-2.37_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-2.37_lam-10.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-2.89_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_Dis_Gauss_N-200_K-3_lam-2.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_disordered.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_Ferro_N-100_K-3_lam-1.2_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_Ferro_N-100_K-4_lam-1.5_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_Ferro_N-1000_K-3_lam-1.2_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_Ferro_N-1000_K-3_lam-5.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_Ferro_N-1000_K-30_lam-2.0_D-1.0_J-1.png
examples/linear_OrnteinUhlenbeck/Ceq_RRG_Ferro.png
examples/linear_OrnteinUhlenbeck/Ceq_ER.png
examples/linear_OrnteinUhlenbeck/data/ER_Dis/N-100_K-4_lam-1.3_D-1.0_J-1_tmax-300.0_nsim-500_teq-200.0.jld2
examples/linear_OrnteinUhlenbeck/data/ER_Ferro/N-100_K-4_lam-2.5_D-1.0_J-1_tmax-300.0_nsim-500_teq-200.0.jld2
examples/linear_OrnteinUhlenbeck/data/ER_Ferro/N-200_K-3_lam-1.2_D-1.0_J-1_tmax-300.0_nsim-1000_teq-200.0.jld2
examples/linear_OrnteinUhlenbeck/data/ER_Ferro/N-200_K-4_lam-1.5_D-1.0_J-1_tmax-300.0_nsim-500_teq-200.0.jld2
examples/linear_OrnteinUhlenbeck/data/ER_Ferro/N-200_K-4_lam-1.5_D-1.0_J-1_tmax-300.0_nsim-1000_teq-200.0.jld2
examples/linear_OrnteinUhlenbeck/data/ER_Ferro/N-200_K-4_lam-10.0_D-1.0_J-1_tmax-500.0_nsim-100_teq-400.0.jld2
examples/linear_OrnteinUhlenbeck/data/RCM_Dis_Bim/N-200_K-2.89_lam-5.0_D-1.0_J-1_tmax-500.0_nsim-100_teq-400.0.jld2
examples/linear_OrnteinUhlenbeck/data/RCM_Ferro/N-200_K-2.89_lam-5.0_D-1.0_J-1_tmax-500.0_nsim-100_teq-400.0.jld2
examples/linear_OrnteinUhlenbeck/data/RRG_Dis/N-100_K-3_lam-1.2_D-1.0_J-1_tmax-100.0_nsim-100_teq-50.0.jld2
examples/linear_OrnteinUhlenbeck/data/RRG_Dis/N-200_K-3_lam-1.2_D-1.0_J-1_tmax-300.0_nsim-500_teq-200.0.jld2
examples/linear_OrnteinUhlenbeck/data/RRG_Ferro/N-100_K-4_lam-1.5_D-1.0_J-1_tmax-100.0_nsim-100_teq-50.0.jld2
examples/linear_OrnteinUhlenbeck/data/RRG_Ferro/N-200_K-3_lam-1.2_D-1.0_J-1_tmax-300.0_nsim-500_teq-200.0.jld2
examples/linear_OrnteinUhlenbeck/.DS_Store
examples/linear_OrnteinUhlenbeck/Ceq_degs_RCM_Ferro_N-500_K-7.0_alpha-2.5_lam-3.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-100_K-5.82_alpha-2.3_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-7.0_alpha-2.3_lam-3.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-7.0_alpha-2.3_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-7.0_alpha-2.5_lam-2.5_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-7.0_alpha-2.5_lam-3.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-7.0_alpha-2.7_lam-2.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-7.0_alpha-2.7_lam-3.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-7.84_alpha-2.3_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-200_K-8.0_alpha-2.3_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-500_K-5.964_alpha-2.3_lam-3.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-500_K-7.0_alpha-2.5_lam-3.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/Ceq_RCM_Ferro_N-1000_K-8.0_alpha-2.7_lam-5.0_D-1.0_J-1.0.png
examples/linear_OrnteinUhlenbeck/data/RCM_Ferro/N-200_K-7.0_lam-3.0_D-1.0_J-1_tmax-500.0_nsim-100_teq-450.0.jld2
examples/linear_OrnteinUhlenbeck/data/RCM_Ferro/N-1000_K-8.0_lam-5.0_D-1.0_J-1_tmax-500.0_nsim-100_teq-450.0.jld2
notes/#GECaM_numerical.lyx#
notes/EquilibriumGECaM.lyx~
notes/GECaM_numerical.lyx~
notes/EquilibriumGECaM.lyx~
notes/EquilibriumGECaM.lyx~
notes/EquilibriumGECaM.lyx~
